.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header-wrapper {
  max-width: 1580px;
  padding: 60px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  height: 18vh;

  @media (max-width: 1300px) {
    height: auto;
    padding: 40px;
  }

  @media (max-width: 1020px) {
    justify-content: center;
  }
}

.basket-list {
  overflow-y: scroll;
  max-width: 1000px;
  padding: 0 50px;
  height: 66vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (max-width: 1230px) {
    padding: 0 20px;
    overflow-y: hidden;
    height: auto; 
  }

  @media (max-width: 1040px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.main {
  flex-grow: 1;
}

.footer {
  border-top: 1px solid #d58d53;
  height: 12vh;

  @media (max-width: 1040px) {
    height: auto;
  }
}




