.title {
  margin: 0;
  text-align: center;
  font-size: 31px;
  line-height: 38px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  @media (max-width: 1040px) {
    max-width: 600px;
    font-size: 26px;
    line-height: 30px;
  }

  @media (max-width: 500px) {
    font-size: 21px;
    line-height: 36px;
  }
}