.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 70px;

  @media (max-width: 800px) {
    padding: 0 40px;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 60px 0;

  @media (max-width: 1152px) {
    flex-direction: column;
    padding: 40px;
    height: auto;
  }
}

.widget-wrap {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
}