.btn-back {
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    circle {
      fill: transparent;
      transition: all 0.3s ease;
    }

    path {
      transition: all 0.3s ease;      
    }

    &:hover {
      path {
        fill: #ffffff;
      }

      circle {
        fill: #d58d53;
       }
    }
  }
}